@import "reset.css";

.wrap {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  background-color: gainsboro;
}

canvas {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.color__option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  transition: transform ease-in-out 0.3s;
  cursor: pointer;
}

.color__option:hover {
  transform: scale(1.2);
}

.color__select {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 3px solid #fff;
  border-radius: 5px;
}
